<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="allProductsLink" role="button" data-toggle="dropdown" aria-expanded="false">
          All Products
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allProductsLink">
          <li><a class="dropdown-item" href="#">By Rating</a></li>
          <li><a class="dropdown-item" href="#">By Price</a></li>
          <li><a class="dropdown-item" href="#">By Category</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5"" href="#" id="laptopLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Laptops
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="laptopLink">
          <li><a class="dropdown-item" href="#">iZac</a></li>
          <li><a class="dropdown-item" href="#">iZac Pro</a></li>
          <li><a class="dropdown-item" href="#">iZac Air</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5"" href="#" id="tabletLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Tablets
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="tabletLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="specialsLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Specials
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="specialsLink">
          <li><a class="dropdown-item" href="#">Clearance</a></li>
          <li><a class="dropdown-item" href="#">Special Offer</a></li>
          <li><a class="dropdown-item" href="#">On Sale</a></li>
        </ul>
      </li>
      <li class="nav-item ">
        <a class="nav-link  logo-font font-weight-bold text-white mr-5" href="#" id="newsLink" role="button"  aria-expanded="false">
          News
        </a>
      </li>
    </ul>
 </div>
