<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="allProductsLink" role="button" data-toggle="dropdown" aria-expanded="false">
          All Products
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allProductsLink">
          <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=asc">By Rating</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?sort=brewery&direction=asc">By Brewery</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}" class="dropdown-item">All Products</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="stylesLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Beer Styles
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="stylesLink">
          <li><a class="dropdown-item" href="{% url 'products'%}?styles=IPA">IPA</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}?styles=STOUT">STOUTS</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}?styles=LAGER">LAGERS</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}?styles=ALE">ALES</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}">ALL STYLES</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5"" href="#" id="breweryLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Breweries
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="breweryLink">
          <li><a class="dropdown-item" href="{% url 'products'%}?brewery=IRL">IRELAND</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}?brewery=UK">UK</a></li>
          <li><a class="dropdown-item" href="{% url 'products'%}?brewery=USA">USA</a></li>
        </ul>
      </li>
      <li class="nav-item ">
        <a class="nav-link  logo-font font-weight-bold text-white mr-5" href="{% url 'posts' %}" id="newsLink" role="button"  aria-expanded="false">
          News
        </a>
      </li>
    </ul>
 </div>
