<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="allProductsLink" role="button" data-toggle="dropdown" aria-expanded="false">
          All Products
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="allProductsLink">
          <li><a class="dropdown-item" href="#">By Rating</a></li>
          <li><a class="dropdown-item" href="#">By Price</a></li>
          <li><a class="dropdown-item" href="#">By Brewery</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="stylesLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Beer Styles
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="stylesLink">
          <li><a class="dropdown-item" href="#">IPA</a></li>
          <li><a class="dropdown-item" href="#">STOUTS</a></li>
          <li><a class="dropdown-item" href="#">LAGERS</a></li>
          <li><a class="dropdown-item" href="#">ALES</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5"" href="#" id="breweryLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Breweries
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="breweryLink">
          <li><a class="dropdown-item" href="#">IRELAND</a></li>
          <li><a class="dropdown-item" href="#">UK</a></li>
          <li><a class="dropdown-item" href="#">USA</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo-font font-weight-bold text-white mr-5" href="#" id="specialsLink" role="button" data-toggle="dropdown" aria-expanded="false">
          Specials
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="specialsLink">
          <li><a class="dropdown-item" href="#">Clearance</a></li>
          <li><a class="dropdown-item" href="#">Special Offer</a></li>
          <li><a class="dropdown-item" href="#">On Sale</a></li>
        </ul>
      </li>
      <li class="nav-item ">
        <a class="nav-link  logo-font font-weight-bold text-white mr-5" href="{% url 'posts' %}" id="newsLink" role="button"  aria-expanded="false">
          News
        </a>
      </li>
    </ul>
 </div>
