{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class ="container text-white">
         <h1 class="text-center uppercase my-3">Beers</h1>
         <p class="text-center my-2">Our latest & Greatest Beer Selection</p>
         <hr class="my-5">

         <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
            {% for product in products %}
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
              <div class="card p-3">
                <a href="{% url 'product_detail' product.id %}">
                  {% if product.image %}
                    <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}" class="card-img-top">
                  {% else %}
                    <img src="/media/noimage.png" alt="{{ product.name }}" class="card-img-top">
                  {% endif %}
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                  <div class="row">
                      <div class="col-3"><p class="card-text"><small class="text-muted">Price: € {{ product.price }}</small></p></div>
                      <div class="col-3"><p class="card-text"><small class="text-muted">ABV: {{ product.abv }}%</small></p></div>
                      <div class="col-3"><p class="card-text"><small class="text-muted">IBU: {{ product.ibu }}</small></p></div>
                      <div class="col-3"><p class="card-text"><small class="text-muted">Style: {{ product.style }}</small></p></div>
                    </div>
                </div>
              </div>
            </div>
            {% endfor%}  
  
        </div>
      </div>
{% endblock %}
