{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class ="container text-white">
         <h1 class="text-center uppercase my-3">{{post.title }}</h1>
         <hr class="my-3 bg-white">

         <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" width="100%" height=auto>
              </div>
              <div class="col-md-8">
                <div class="card-body w-100">
                  <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{ post.body }}</p>
                  <p class="card-text"><small class="text-muted">Last Updated: {{ post.created_on }}</small></p>
                  <a href="{% url 'posts' %}" class="btn btn-lg ">Go Back</a>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
